@model IEnumerable<BP_final.Models.Report>

@{
    ViewBag.Title = "Index";
}

<script>
    function check(checkBox) {
        //if (document.getElementById(checkBox).checked) {
        //    document.getElementById(checkBox).checked = false;
        //    document.getElementById(checkBox).value = false;
        //}
        //else {
        //    document.getElementById(checkBox).checked = true;
        //    document.getElementById(checkBox).value = true;
        //}

        if ("checkBox:checked")
        {

            // it is checked
        }
    };



</script>




<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="col-md-1">
            @*@Html.DisplayNameFor(model => model.IsChecked)*@
            Selected
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graph)
        </th>
        <th>
            Options
        </th>
        <th>
            Time From
        </th>
        <th>
            Time To
        </th>
        <th>
            Classroom
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>*@
                @*@Html.CheckBoxFor(modelItem => item.IsChecked)*@
                @*@Html.CheckBoxFor(modelItem => item.IsChecked, new { id = item.Name + item.ID })*@
                @*@Html.CheckBoxFor(modelItem => item.IsChecked, new { @value = false, @id = item.Name + item.ID })*@
            @*</td>*@
            <td>
                <input type="checkbox" @(item.IsChecked ? "Checked" : "")
                       value="@(item.IsChecked ? "True" : "False")" id="@item.Name@item.ID" onchange="check(@item.Name@item.ID)" />
            </td>
            <td>
                @*<form action="" method="POST">
                        <label>
                            @Html.CheckBox("checkedArchive")
                        </label>
                    </form>*@
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Graph)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.SqlInput)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
          {
              Text = "AtlantaPort",
              Value = "AtlantaPort"
          });
        listItems.Add(new SelectListItem
         {
             Text = "NewJersyTerminal",
             Value = "NewJersyTerminal",
             Selected = true
         });
        listItems.Add(new SelectListItem
         {
             Text = "AWS",
             Value = "AWS"
         });
                }
                @*@Html.DropDownListFor(model => model.pac)*@
                @Html.DropDownListFor(modelItem => item.ID, listItems, new { @class = "form-control" })
            </td>
        </tr>
    }
    @*<div class="form-group">
            @Html.LabelFor(model => model.Graph, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.DropDownListFor(model => model.Graph, new SelectList(
                      new List<Object>{
                           new { value = "Bar Chart" , text = "Bar Chart"  },
                           new { value = "Line Chart" , text = "Line Chart" },
                           new { value = "Pie Chart" , text = "Pie Chart"}
                        },
                      "value",
                      "text",
             2), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Graph, "", new { @class = "text-danger" })
            </div>
        </div>*@

</table>
<div>
    @using (Html.BeginForm("", "Reports", FormMethod.Post))
    {
        <input type="submit" value="Create Graph" id="btnCreateGraph" class="form-control col-md-3" />
    }
</div>

<table class="table">

    <tr>
        <input type="submit" value="Create All Graphs" id="btnCreateAllGraphs" class="form-control col-md-3" />
    </tr>
    <tr>
        <input type="submit" value="Delete" id="btnDeleteGraph" class="form-control col-md-3" />
    </tr>
    <tr>
        <input type="submit" value="Delete All" id="btnDeleteAllGraphs" class="form-control col-md-3" />
    </tr>
</table>
