@model IEnumerable<BP_final.Models.Report>

@*@{
    ViewBag.Title = "Index";
}*@

<script>
    function check(checkBox) {
        //if (document.getElementById(checkBox).checked) {
        //    document.getElementById(checkBox).checked = false;
        //    document.getElementById(checkBox).value = false;
        //}
        //else {
        //    document.getElementById(checkBox).checked = true;
        //    document.getElementById(checkBox).value = true;
        //}

        if ("checkBox:checked")
        {

            // it is checked
        }
    };
</script>




<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Submit", "Reports", FormMethod.Post))
{
<table class="table">
    <tr>
        <th class="col-md-1">
            @*@Html.DisplayNameFor(model => model.IsChecked)*@
            Selected
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graph)
        </th>
        <th>
            Options
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Classroom
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" @(item.IsChecked ? "Checked" : "")
                       value="@(item.IsChecked ? "True" : "False")" id="@("checkBox" + item.ID)" name="@("checkBox" + item.ID)" onchange="check(@item.ID)" />
                @*@Html.CheckBox(item.Name, item.IsChecked ? true : false)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Graph)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            <td>
                <input id="@("from" + item.ID)" type="datetime-local" min="0" />
            </td>
            <td>
                <input id="@("to" + item.ID)" type="datetime-local" min="0" />
            </td>
            <td>
                @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
          {
              Text = "AtlantaPort",
              Value = "AtlantaPort"
          });
        listItems.Add(new SelectListItem
         {
             Text = "NewJersyTerminal",
             Value = "NewJersyTerminal",
             Selected = true
         });
        listItems.Add(new SelectListItem
         {
             Text = "AWS",
             Value = "AWS"
         });
                }
                @*@Html.DropDownListFor(model => model.pac)*@
                @*@Html.DropDownListFor(modelItem => item.ID, listItems, new { @class = "form-control" })*@
                @Html.DropDownList("dropDownList" + item.ID, listItems, new { @class = "form-control" })
                @*<select name="@("dropDown" + item.Name)" id="@("dropDown" + item.ID)" class=" form-control">
                    @foreach (var i in listItems)
                    {
                        <option value="@i.Value">@i.Text</option>
                    }
                </select>*@
            </td>
        </tr>
    }
</table>

        
    

<table class="table">

    <tr>
        <input type="submit" name="btnCreateGraph" value="Create Graph" id="btnCreateGraph" class="form-control col-md-3" />
    </tr>
    <tr>
        <input type="submit" name="btnCreateAllGraphs" value="Create All Graphs" id="btnCreateAllGraphs" class="form-control col-md-3" />
    </tr>
    
    <tr>
        <input type="submit" value="Delete" id="btnDeleteGraph" class="form-control col-md-3" />
    </tr>
    <tr>
        <input type="submit" value="Delete All" id="btnDeleteAllGraphs" class="form-control col-md-3" />
    </tr>
</table>
}
